.top-bar {
  background-color: #BBDEFB;
  color: white;
  font-weight: 500;
  min-height: 56px;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #1976D2;
    margin: 0 12px 0 12px;
  }
}